[Unit]
Description=nginx proxy

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull msiegenthaler/nginx-proxy
ExecStart=/usr/bin/docker run --rm --name nginx -p 80:80 -e HOST_IP=${COREOS_PUBLIC_IPV4} msiegenthaler/nginx-proxy
ExecStop=/usr/bin/docker kill nginx

[X-Fleet]
X-Conflicts=nginx-proxy.*.service
